.card {
  width: 15%;
  height: 45vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 0.7rem;
  padding: 0.4rem;
  background-color: white;
  position: relative;
  margin-left: -17.4%;
}

.card-value {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-upper,
.card-lower {
  display: flex;
  flex-direction: column;
  /* height: 10vh; */
}

.card-lower > img,
.card-upper > img {
  width: 20px;
  height: 20px;
  margin: 0.1rem 0 0 0;
}

.card-upper {
  align-self: flex-start;
}

.card-lower {
  align-self: flex-end;
}

.card-middle {
  height: 50vh;
  align-self: center;
  width: 50%;
}

@media (max-width: 600px) {
  .card {
    width: 16%;
    margin-left: -23%;
  }
}
